<div id="results">
  <% if @users %>
    <div class="card card-header mt-5">
      <table class="table">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user|%>
          <tr>
            <th scope="row"><strong>Name: </strong> <%= full_name(user) %></th>
            <td><strong>Email </strong> <%= user.email %></td>
            <td><strong>Profile </strong> <%= link_to  "View profile", '#', class: "btn btn-xs btn-outline-info" %></td>
            <td>
              <% if current_user.can_follow?(user) %>
                <%= link_to  "Follow", friendships_path(id: user.id),  data: { turbo_method: :post }, class: "btn btn-xs btn-outline-success" %>
              <% else %>
                <span class="badge text-bg-secondary">You are already following <%= full_name(user)%></span>
              <% end %>
            </td>
          </tr>
          <% end %>
      </tbody>
    </table>
  </div>
  <% end %>
</div>
